body[data-theme="light"]{
    --color-buttons-border:rgb(3, 3, 24);
    --color-buttons-background:papayawhip;
    --color-buttons-font:darkolivegreen;

    --color-buttons-hover-font:#062569;
    --color-buttons-hover-effect:#062569;

    background: url("/Users/samarthpawan/Desktop/login-signup project/light-theme.jpg");

    --color-container-box-shadow:rgba(176, 176, 179, 0.165);
    --color-container-background:rgb(229, 244, 251);
    --color-container-font:black;

    --color-inputfield:rgb(235, 235, 235);
    --color-inputfield-focus:white;

}
body[data-theme="dark"]{
    --color-buttons-border:#C8A2C8;
    --color-buttons-background:rgb(34, 34, 34);
    --color-buttons-font:#C8A2C8;

    --color-buttons-hover-font:#C8A2C8;
    --color-buttons-hover-effect:#C8A2C8;

    background: url("/Users/samarthpawan/Desktop/login-signup project/dark-theme.webp");

    --color-container-box-shadow:rgba(13, 13, 220, 0.165);
    --color-container-background:rgb(27, 27, 27);
    --color-container-font:white;

    --color-inputfield:#818181;
    --color-inputfield-focus:#e4e4e4;

}

select{
    background-color: #b4bdbb;
    align-self: flex-end;
}

.toggle_button{
    margin-top: 280px;


    width: 100px;
    align-self:flex-end ;
    padding:1rem;
    border-radius:50px;
    border-color: teal;
    font-weight: bolder;
}

.toggle_button:active{
    transform: scale(0.95);
}

.title_bar{
    width:100%;
    height: 90px;
    margin-top: 0.5px;
    align-items: top;
    border-radius: 5px;

    background-color: black;
    border-color: cadetblue;
    border:blanchedalmond solid;
}

.buttons{
    float: right;
    padding:1rem 2rem 2rem 2rem;
    font-size: 1rem;
    margin: 0;

    font-weight: bolder;
    text-transform: uppercase;

    border-left: var(--color-buttons-border) solid;
    background-color: var(--color-buttons-background);
    color: var(--color-buttons-font);

    /* light theme */
    /* border:rgb(3, 3, 24) solid;
    background-color:papayawhip;
    color:darkolivegreen; */

    /* dark theme */
    /* border-left: #C8A2C8 solid;
    background-color: rgb(34, 34, 34);
    color: #C8A2C8; */
  
}
.buttons:active{
    transform: scale(0.98);
}

.buttons:hover{
    opacity: 500;

    color: var(--color-buttons-hover-font);

    /* light theme*/
    /* color:#062569; */

    /* dark theme */
    /* color:#C8A2C8; */

}
.buttons::before{
    content:" ";
    display: block;
    height: 3px;
    width: 0%;
    margin-bottom:1rem;

    transition: all ease-in-out 200ms;

    background-color: var(--color-buttons-hover-effect);

    /* light theme */
    /* background-color:#062569; */

    /* dark theme */
    /* background-color: #C8A2C8; */
}

.buttons:hover::before{
    width: 100%
}

body{
    --color-primary:#009579;
    --color-primary-dark:#007f67;
    --color-secondary:#2b3380;
    --color-error: #cc3333;
    --color-success: #4bb544;

    --border-radius:4px;

    margin:0 auto;
    /* align-items: center; */
    justify-content: center;
    font-size: 18px;

    display: flex;
    flex-direction: column;

    /* dark theme */
    /* background: url("/Users/samarthpawan/Desktop/login-signup project/dark-theme.webp");  */

    /* light theme */
    /* background: url("/Users/samarthpawan/Desktop/login-signup project/light-theme.jpg"); */
    
    background-size:cover;
    
}

.container{
    width:400px;
    max-width:400px;
    margin: 100px 0px 0px 0px;
    padding:2rem;
    border-radius: 4px;
    border:#007f67 solid;

    box-shadow: 0 0 40px var(--color-container-box-shadow);
    background: var(--color-container-background);
    color:var(--color-container-font); 

    align-self: center;

    /* light mode */
    /* box-shadow: 0 0 40px rgba(176, 176, 179, 0.165);
    background: rgb(229, 244, 251);
    color:black; */
   

    /* dark theme */
    /* box-shadow: 0 0 40px rgba(13, 13, 220, 0.165);
    background: rgb(27, 27, 27);
    color:white;  */

}

.container, .form_input, .form_text{
    font-weight: 500;
    font-family: sans-serif;
    font-size: 1.5rem;   
}

.form_hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form_title{
    text-align: center;
    margin-bottom: 2rem;
}

.form_message{
    text-align: left;
    margin-bottom: 1rem;
    color:#cc3333;
}

.form_message-success{
    color: #4bb544;

}

.form_message-error{
    color:#cc3333;
}

.form_input-group{
    margin-bottom: 2rem;
}

.form_input{
    display: block;
    width:100%;
    padding:0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    outline:none;
    transition: background 0.2s, border-color 0.2s ;
    border:1px solid #dddddd;
    color:rgb(27, 27, 27);

    background: var(--color-inputfield);

    /* dark theme */
    /* background: #818181; */


    /* light theme */
    /* background: rgb(235, 235, 235); */

}

.form_input:focus{
    border-color: #009579;
    border-radius: 4px;

    background: var(--color-inputfield-focus);

    /* light theme */
    /* background: white; */

    /* dark theme */
    /* background: #e4e4e4; */
}

.form_input-error{
    border-color: #009579;
    background: #ffffff;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    color:#cc3333;
}

.form_button{
    width:100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background: #009579;
}

.form_button:hover{
    background: #007f67;
}

.form_button:active{
    transform: scale(0.98);
}

.form_text{
    text-align: left;
    font-size:large;
}

.form_link{
    color:#2b3380;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover{
    text-decoration: underline;
}